<%- contentFor('title') %>
ACCOUNT2

<%- contentFor('init') %>
<link rel="stylesheet" href=".././../css/stylesheets/account2/style.css">
<script src=".././../js/account2/index.js" type="module" defer></script>

<%- contentFor('body') %>
<h1>account2/</h1>