<%- contentFor('title') %>
LOGIN

<%- contentFor('init') %>
<link rel="stylesheet" href=".././../css/stylesheets/account2/login.css">
<script src=".././../js/account2/login.js" type="module" defer></script>

<%- contentFor('body') %>
<h1>account2/login</h1>