<%- contentFor('title') %>
Index
<%- contentFor('init') %>
<link rel="stylesheet" href=".././../css/stylesheets/index/style.css">
<script src=".././../js/index/index.js" type="module" defer></script>

<%- contentFor('body') %>
<h1>Index</h1>