<%- contentFor('title') %>


<%- contentFor('init') %>
<link rel="stylesheet" href=".././../css/stylesheets/index/style.css">
<script src=".././../js/index/index.js" type="module" defer></script>

<%- contentFor('body') %>
<header>
  <nav>
    <ul>
      <li><a href="/account">Account</a></li>
    </ul>
  </nav>
</header>
<aside></aside>
<main></main>