<%- contentFor('title') %>
ACCOUNT

<%- contentFor('init') %>
<link rel="stylesheet" href=".././../css/stylesheets/account/style.css">
<script src=".././../js/account/index.js" type="module" defer></script>

<%- contentFor('body') %>
<h1>account/</h1>