<%- contentFor('title') %>
LOGIN

<%- contentFor('init') %>
<link rel="stylesheet" href=".././../css/stylesheets/account/login.css">
<script src=".././../js/account/login.js" type="module" defer></script>

<%- contentFor('body') %>
<main>
  <h1>LOGIN</h1>
  <form action="./login" method="post" class="login-field">

    <%- include('../../partials/inputField') %>
    <section class="input-field">
      <input type="submit" value="Login">
      <button class="register-btn">Register</button>
    </section>
  </form>
</main>