<%- contentFor('title') %>
REGISTER

<%- contentFor('init') %>
<link rel="stylesheet" href=".././../css/stylesheets/account/register.css">
<script src=".././../js/account/register.js" type="module" defer></script>

<%- contentFor('body') %>
<h1>account/register</h1>