<aside>
  <section class="main-section">
    <% sections.forEach(item => { %>
    <section class="aside-item <%- item %>">
      <span><%- item %></span>
    </section>
    <% }) %>
  </section>
</aside>