<section class="input-field">
  <label for="username">Name</label>
  <input required id="username" name="username" type="text" placeholder="Input your user name">
</section>
<section class="input-field">
  <label for="password">Password</label>
  <input required name="password" minlength="6" type="password" placeholder="Enter your password">
</section>