<section class="pop-up-account">
  <p class="message"> <%- content || '' %> </p>
</section>
<script type="module">
  const Popup = $('.pop-up-account')
  const url = '<%- url || "" %>'
  $(window).load(function () {
    if (Popup.length > 0) Popup.css({ top: '100px' })
  })
  function hidePopup(e) {
    Popup.css({ top: '-200px' })
    if (url) setTimeout(() => window.location.replace(url), 500)
  }
  $(document.body).click(hidePopup)
</script>