<%- include('./inputField', {account, data}) %>
<section class="input-field grid-2">
  <div class="input-section">
    <label for="birthday-input">Birthday</label>
    <input type="date" name="birthday" id="birthday-input" required>
  </div>
  <div class="input-section">
    <label for="gender">Gender</label>
    <select name="gender" id="gender" required>
      <%["male","female","others"].forEach(value=>{%>
      <option value="<%- value %>" <%-value == data.gender ? 'selected':''%>><%-value%></option>
      <%})%>
    </select>
  </div>
</section>