<%- include('./inputField') %>
<section class="input-field">
  <label for="birthday-input">Birthday</label>
  <input type="date" name="birthday" id="birthday-input" required>
</section>
<section class="input-field">
  <label for="gender">Sex</label>
  <select name="gender" id="gender" required>
    <option value="male" selected>Male</option>
    <option value="female">Female</option>
    <option value="others">Others</option>
  </select>
</section>