<%- contentFor('title') %>
USERS

<%- contentFor('init') %>
<link rel="stylesheet" href=".././../css/stylesheets/users/style.css">
<script src=".././../js/users/index.js" type="module" defer></script>

<%- contentFor('body') %>
<h1>users/</h1>