<%- contentFor('title') %>
USERS

<%- contentFor('init') %>
<link rel="stylesheet" href=".././../css/stylesheets/users/style.css">
<script src=".././../js/users/index.js" type="module" defer></script>

<%- contentFor('body') %>
<%- include('../../partials/navbar') %>
<aside>
  <section class="main-section">
    <div class="aside-item">
      <span>Info</span>
    </div>
    <div class="aside-item">
      <span>Change</span>
    </div>
  </section>
</aside>
<main>
  <section class="main">
    <div class="header">
      <h1>Info</h1>
    </div>
    <div class="content">
      <div class="content-item">
        <span class="title">Name</span>
        <p class="lable">UwU</p>
      </div>
      <div class="content-item">
        <span class="title">Birthday</span>
        <p class="lable">16/08/2004</p>
      </div>
      <div class="content-item">
        <span class="title">Gender</span>
        <p class="lable">Male</p>
      </div>
    </div>
  </section>
</main>